@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

.display {
    font-size: 40px;
    line-height: 100%;
    font-weight: 800;
}

.desktop_body_txt {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.btn-primary-red {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20.70px;
    word-wrap: break-word;
    background:red;
}

.btn-primary-red:hover {
    transform: translateY(-7px);
}


/* Estilos personalizados para los elementos de navegaci贸n */

#header {
    /* height: 64px; */
    /* Altura del header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

.nav-bar {
    border-width: 0.5px;
    border-color: bisque;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-item {
    position: relative;
    font-family: 'Manrope', sans-serif;
    white-space: nowrap;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ED1B24;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item:hover::after,
.nav-item:focus::after,
.nav-item.font-bold::after {
    transform: scaleX(1);
}

#navbar {
    /* background-color: rgba(238, 232, 213, 0.8); */
    transform: translateY(0);
}

#navbar.scrolled {
    background-color: rgba(238, 232, 213, 1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.hidden-navbar {
    display: none;
}


/* Estilos para las flechas de navegaci贸n */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    z-index: 10;
    transition: all 0.3s ease;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

.arrow:hover {
    transform: translateY(-50%) scale(1.1);
}

.hidden-arrows {
    display: none;
}


/* Estilos del bot贸n flotante "Get in Touch" */

#btn-get-in-touch {
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 9999px;
}


/* Estilos del bot贸n "Back to Top" */

#btn-back-to-top {
    padding: 12px;
    font-size: 14px;
    border-radius: 9999px;
}
.header_experience_red {
    height: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;

    color: #D12420;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.card {
    height: 120px;
    width: 240px;
    margin-left: -45px;
}
.label_new {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 20px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 1;
    text-align: justify;
}

.header_black_new {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 150%;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.label_new_premium {
    height: 54px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 4%;
}

.header_red {
    align-self: stretch;
    color: #F80000;
    font-size: 20px;
    font-family: Manrope;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 30px;
    word-wrap: break-word
}

.label_new_end {
     font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}